<p-dialog header="{{ isEdit ? 'Edit' : 'Add' }} Subcourse"
          [(visible)]="visible"
          [modal]="true"
          [closable]="false"
          [style]="{width: '400px'}">
  <form [formGroup]="subcourseForm"  class="p-fluid">
    <div class="p-field">
      <label>Name</label>
      <input pInputText formControlName="name" />
      <small class="p-error" *ngIf="subcourseForm.get('name')?.touched && subcourseForm.get('name')?.invalid">
        Name is required.
      </small>
    </div>

    <div class="p-field">
      <label>Start Date</label>
      <input type="date" pInputText formControlName="startDate" />
      <small class="p-error" *ngIf="subcourseForm.get('startDate')?.touched && subcourseForm.get('startDate')?.invalid">
        Start date is required.
      </small>
    </div>

    <div class="p-field">
      <label>End Date</label>
      <input type="date" pInputText formControlName="endDate" />
      <small class="p-error" *ngIf="subcourseForm.get('endDate')?.touched && subcourseForm.get('endDate')?.invalid">
        End date is required.
      </small>
      <small class="p-error"
      *ngIf="subcourseForm.errors?.['outOfRange'] &&
             subcourseForm.get('startDate')?.touched &&
             subcourseForm.get('endDate')?.touched">
 Subcourse must be within course date range.
</small>

<small class="p-error"
      *ngIf="subcourseForm.errors?.['overlap'] &&
             subcourseForm.get('startDate')?.touched &&
             subcourseForm.get('endDate')?.touched">
 Subcourse dates overlap with another.
</small>

      
    </div>

   
  </form> <p-footer>
      <button pButton type="submit" label="Save"(click)="save()" [disabled]="subcourseForm.invalid"></button>
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="cancel()"></button>
      
    </p-footer>
</p-dialog>
