.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
  }
.p-button-rounded {
  border-radius: 50% !important; 
}
.no-subcourses-message {
  color: #888;
  font-style: italic;
  padding: 10px;
  text-align: center;
}
