 <div class="button-container">
  <button pButton label="Add Course" icon="pi pi-plus" class="add-course-button" (click)="openAddCourseDialog()"></button>
</div>

<p-table [value]="courses" dataKey="id" [expandedRowKeys]="expandedRowKeys" (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-course let-expanded="expanded">
    <tr>
      <td>
        <p-button type="button" pRipple [pRowToggler]="course" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
      </td>
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.startDate }}</td>
      <td>{{ course.endDate }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="openEditCourseDialog(course)"></button>
        <button pButton icon="pi pi-plus" class="p-button-rounded p-button-text" (click)="openAddSubcourseDialog(course)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deleteCourse(course.id)"></button>
      </td>
    </tr>
  
    <!-- ExpansionRow for Subcourses -->
    <tr *ngIf="expandedRowKeys[course.id]">
      <td colspan="7">
        <p-table *ngIf="course.subcourses.length > 0" [value]="course.subcourses" [paginator]="false" [rows]="5" [responsive]="true">
          <ng-template pTemplate="body" let-subcourse>
            <tr>
              <td style="font-weight: bold;">Sub-Course info :</td>
              <td>{{ subcourse.name }}</td>
              <td>{{ subcourse.startDate }}</td>
              <td>{{ subcourse.endDate }}</td>
              <td>
                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text" (click)="openEditSubcourseDialog(course, subcourse)"></button>
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deleteSubcourse(course.id, subcourse.id)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
  
        <div *ngIf="course.subcourses.length === 0" class="no-subcourses-message">
          No subcourses yet.
        </div>
      </td>
    </tr>
  </ng-template>
  
</p-table>

<app-course-dialog
  [(visible)]="displayDialog"
  [course]="selectedCourse"
  [isEdit]="isEdit"
  (onSave)="handleSaveCourse($event)"
  (onCancel)="displayDialog = false">
</app-course-dialog>

<app-subcourse-dialog
  #subcourseDialog
  [visible]="displaySubcourseDialog"
  [subcourse]="selectedSubcourse"
  [isEdit]="isEditSub"
  (visibleChange)="displaySubcourseDialog = $event"
  (onSave)="handleSaveSubcourse($event)">
</app-subcourse-dialog>
